In [ ]:
import pandas as pd  # a module which provides the data structures and functions to store and manipulate tables in dataframes
import pydbtools as pydb  # A module which allows SQL queries to be run on the Analytical Platform from Python, see https://github.com/moj-analytical-services/pydbtools
import boto3  # allows you to directly create, update, and delete AWS resources from Python scripts

# sets parameters to view dataframes for tables easier
pd.set_option("display.max_columns", 100)
pd.set_option("display.width", 900)
pd.set_option("display.max_colwidth", 200)

In [ ]:
#Variables to be used in this notebook

#this is the athena database we will be storing our tables in
fcsq_database = "fcsq"

#this is the s3 bucket we will be saving data to
s3 = boto3.resource("s3")
bucket = s3.Bucket("alpha-family-data")

#Last full year to be published - including this publication
annual_year = 2023

#Current publication variables
current_year = 2024
current_quarter = 2

#Next publication variables
next_quarter_year = 2024 
next_quarter = 3

In [ ]:
# All timeliness calculations

In [ ]:
#Petitions - annual, with digital/paper split, with law split - averages table

create_averages_1_table =f"""
SELECT
  CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
       ELSE new_case_type 
  END AS "Case",
  Stage,
  Year,
  CAST(NULL AS VARCHAR) AS Quarter,
  digital_paper as case_type,
  law,
  count(*) as count,
  CAST(NULL AS DOUBLE) AS mean_weeks,
  CAST(NULL AS DOUBLE) AS median_weeks

FROM fcsq.divorce_fct_petitions

GROUP BY
  CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
       ELSE new_case_type 
  END,
  Stage,
  Year,
  digital_paper,
  law;
"""
pydb.create_temp_table(create_averages_1_table,'averages_1')

In [ ]:
#Petitions - annual, with digital/paper split without law split - averages table

create_averages_2_table =f"""
SELECT
  CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
       ELSE new_case_type 
  END AS "Case",
  Stage,
  Year,
  CAST(NULL AS VARCHAR) AS Quarter,
  digital_paper as case_type,
  'All' as law,
  count(*) as count,
  CAST(NULL AS DOUBLE) AS mean_weeks,
  CAST(NULL AS DOUBLE) AS median_weeks

FROM fcsq.divorce_fct_petitions

GROUP BY
  CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
       ELSE new_case_type 
       END,
  Stage,
  Year,
  digital_paper;
"""
pydb.create_temp_table(create_averages_2_table,'averages_2')

In [ ]:
#Petitions - annual, without digital/paper split, with law split - averages table

create_averages_3_table =f"""
SELECT
  CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
       ELSE new_case_type 
  END AS "Case",
  Stage,
  Year,
  CAST(NULL AS VARCHAR) AS Quarter,
  'All' as case_type,
  law,
  count(*) as count,
  CAST(NULL AS DOUBLE) AS mean_weeks,
  CAST(NULL AS DOUBLE) AS median_weeks

FROM fcsq.divorce_fct_petitions

GROUP BY
  CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
       ELSE new_case_type 
       END,
  Stage,
  Year,
  law;
"""
pydb.create_temp_table(create_averages_3_table,'averages_3')

In [ ]:
#Petitions - annual, without digital/paper split, without law split - averages table

create_averages_4_table =f"""
SELECT
  CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
       ELSE new_case_type 
  END AS "Case",
  Stage,
  Year,
  CAST(NULL AS VARCHAR) AS Quarter,
  'All' as case_type,
  'All' as law,
  count(*) as count,
  CAST(NULL AS DOUBLE) AS mean_weeks,
  CAST(NULL AS DOUBLE) AS median_weeks

FROM fcsq.divorce_fct_petitions

GROUP BY
  CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
       ELSE new_case_type 
       END,
  Stage,
  Year;
"""
pydb.create_temp_table(create_averages_4_table,'averages_4')

In [ ]:
#Petitions - Quarterly, with digital/paper split, with law split - averages table

create_averages_5_table =f"""
SELECT
  CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
       ELSE new_case_type 
  END AS "Case",
  Stage,
  CAST(NULL AS INT) AS Year,
  CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
  digital_paper as case_type,
  law,
  count(*) as count,
  CAST(NULL AS DOUBLE) AS mean_weeks,
  CAST(NULL AS DOUBLE) AS median_weeks

FROM  fcsq.divorce_fct_petitions

GROUP BY
  CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
       ELSE new_case_type 
       END,
  Stage,
  Year,
  Quarter,
  digital_paper,
  law; 
"""
pydb.create_temp_table(create_averages_5_table,'averages_5')

In [ ]:
#Petitions - Quarterly, with digital/paper split without law split - averages table

create_averages_6_table =f"""
SELECT
  CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
       ELSE new_case_type 
  END AS "Case",
  Stage,
  CAST(NULL AS INT) AS Year,
  CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
  digital_paper as case_type,
  'All' as law,
  count(*) as count,
  CAST(NULL AS DOUBLE) AS mean_weeks,
  CAST(NULL AS DOUBLE) AS median_weeks

FROM fcsq.divorce_fct_petitions

GROUP BY
  CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
       ELSE new_case_type 
       END,
  Stage,
  Year,
  Quarter,
  digital_paper;
"""
pydb.create_temp_table(create_averages_6_table,'averages_6')

In [ ]:
#Petitions - Quarterly, without digital/paper split, with law split - averages table

create_averages_7_table =f"""
SELECT
  CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
       ELSE new_case_type 
  END AS "Case",
  Stage,
  CAST(NULL AS INT) AS Year,
  CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
  'All' as case_type,
  law,
  count(*) as count,
  CAST(NULL AS DOUBLE) AS mean_weeks,
  CAST(NULL AS DOUBLE) AS median_weeks

FROM fcsq.divorce_fct_petitions
GROUP BY
  CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
       ELSE new_case_type 
       END,
  Stage,
  Year,
  Quarter,
  law; 
"""
pydb.create_temp_table(create_averages_7_table,'averages_7')

In [ ]:
#Petitions - Quarterly, without digital/paper split, without law split - averages table

create_averages_8_table =f"""
SELECT
  CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
       ELSE new_case_type 
  END AS "Case",
  Stage,
  CAST(NULL AS INT) AS Year,
  CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
  'All' as case_type,
  'All' as law,
  count(*) as count,
  CAST(NULL AS DOUBLE) AS mean_weeks,
  CAST(NULL AS DOUBLE) AS median_weeks

FROM fcsq.divorce_fct_petitions

GROUP BY
  CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
       ELSE new_case_type 
       END,
  Stage,
  Year,
  Quarter;
"""
pydb.create_temp_table(create_averages_8_table,'averages_8')

In [ ]:
# Nisi - Annual, with digital/paper split, with law split - averages table

# create_averages_9_table =f"""
# SELECT 
#   "Case",
#   Stage,
#   Year,
#   Quarter,
#   case_type,
#   law,
#   count(*) as count,
#   ROUND(AVG(CASE WHEN pet_to_nisi >= 0 THEN pet_to_nisi END)/7,3) AS mean_weeks,
#   ROUND((CASE WHEN COUNT(*) % 2 = 0
#               THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END) + MIN(CASE WHEN data_half = 2 THEN pet_to_nisi END)) /2.0 
#               ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END)
#          END) / 7, 3) AS median_weeks 
         
# FROM (
#   SELECT
#     CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
#          ELSE new_case_type 
#     END AS "Case",
#     Stage,
#     Year,
#     CAST(NULL AS VARCHAR) AS Quarter,
#     digital_paper AS case_type,
#     law,
#     pet_to_nisi,
#     NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, digital_paper, law 
#                       ORDER BY pet_to_nisi) AS data_half

#   FROM fcsq.divorce_fct_nisi

#   ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, digital_paper, law, pet_to_nisi) AS t1
 
# GROUP BY "Case", Stage, Year, Quarter, case_type, law

# ORDER BY "Case", Stage, Year, Quarter, case_type, law;
# """
# pydb.create_temp_table(create_averages_9_table,'averages_9')

In [ ]:
# Nisi - Annual, with digital/paper split, with law split - averages table

create_averages_9a_table =f"""
SELECT 
  "Case",
  Stage,
  Year,
  Quarter,
  case_type,
  law,
  count(*) as count,
  ROUND(AVG(pet_to_nisi)/7.0,3) AS mean_weeks,
  ROUND((CASE WHEN COUNT(*) % 2 = 0
              THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END) + MIN(CASE WHEN data_half = 2 THEN pet_to_nisi END)) /2.0 
              ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END)
         END) / 7.0, 3) AS median_weeks 
         
FROM (
  SELECT
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
         ELSE new_case_type 
    END AS "Case",
    Stage,
    Year,
    CAST(NULL AS VARCHAR) AS Quarter,
    digital_paper AS case_type,
    law,
    pet_to_nisi,
    NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' 
                                    ELSE new_case_type 
                                END, 
                                stage, 
                                year, 
                                digital_paper, 
                                law 
                      ORDER BY pet_to_nisi) AS data_half

  FROM fcsq.divorce_fct_nisi
  
  WHERE pet_to_nisi >= 0

  ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, digital_paper, law, pet_to_nisi)
 
GROUP BY "Case", Stage, Year, Quarter, case_type, law

ORDER BY "Case", Stage, Year, Quarter, case_type, law;
"""
pydb.create_temp_table(create_averages_9a_table,'averages_9a')

In [ ]:
create_averages_9b_table =f"""
SELECT 
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END AS "Case",
    Stage,
    Year,
    CAST(NULL AS VARCHAR) AS Quarter,
    digital_paper AS case_type,
    law,
    count(*) as count
    
FROM fcsq.divorce_fct_nisi

GROUP BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END,
         Stage,
         Year,
         digital_paper,
         law;
"""
pydb.create_temp_table(create_averages_9b_table,'averages_9b')

In [ ]:
create_averages_9_table =f"""
SELECT
    b.*,
    a.mean_weeks,
    a.median_weeks
    
FROM __temp__.averages_9b AS b
LEFT JOIN __temp__.averages_9a AS a
 ON a."Case" = b."Case" AND
    a.Stage = b.Stage AND
    a.year = b.year AND
    a.case_type = b.case_type AND
    a.law=b.law;
"""
pydb.create_temp_table(create_averages_9_table,'averages_9')

In [ ]:
test = pydb.read_sql_query("SELECT * from __temp__.averages_9")
test

In [ ]:
#Nisi - Annual, with digital/paper split, without law split - averages table

# create_averages_10_table =f"""
# SELECT 
#   "Case",
#   Stage,
#   Year,
#   Quarter,
#   case_type,
#   law,
#   count(*) as count,
#   ROUND(AVG(CASE WHEN pet_to_nisi >= 0 THEN pet_to_nisi END)/7,3) AS mean_weeks,
#   ROUND((CASE WHEN COUNT(*) % 2 = 0
#               THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END) + MIN(CASE WHEN data_half = 2 THEN pet_to_nisi END)) /2.0 
#               ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END)
#          END) / 7, 3) AS median_weeks 
         
# FROM (
#   SELECT
#     CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
#          ELSE new_case_type 
#     END AS "Case",
#     Stage,
#     Year,
#     CAST(NULL AS VARCHAR) AS Quarter,
#     digital_paper AS case_type,
#     'All' AS law,
#     pet_to_nisi,
#     NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, digital_paper 
#                    ORDER BY pet_to_nisi) AS data_half

#   FROM fcsq.divorce_fct_nisi

#   ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, digital_paper, pet_to_nisi) AS t2
 
# GROUP BY "Case", Stage, Year, Quarter, case_type, law

# ORDER BY "Case", Stage, Year, Quarter, case_type, law;
# """
# pydb.create_temp_table(create_averages_10_table,'averages_10')

In [ ]:
#Nisi - Annual, with digital/paper split, without law split - averages table

create_averages_10a_table =f"""
SELECT 
  "Case",
  Stage,
  Year,
  Quarter,
  case_type,
  law,
  count(*) as count,
  ROUND(AVG(pet_to_nisi)/7.0,3) AS mean_weeks,
  ROUND((CASE WHEN COUNT(*) % 2 = 0
              THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END) + MIN(CASE WHEN data_half = 2 THEN pet_to_nisi END)) /2.0 
              ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END)
         END) / 7.0, 3) AS median_weeks 
         
FROM (
  SELECT
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
         ELSE new_case_type 
    END AS "Case",
    Stage,
    Year,
    CAST(NULL AS VARCHAR) AS Quarter,
    digital_paper AS case_type,
    'All' AS law,
    pet_to_nisi,
    NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' 
                                    ELSE new_case_type 
                                END, 
                                stage, 
                                year, 
                                digital_paper 
                      ORDER BY pet_to_nisi) AS data_half

  FROM fcsq.divorce_fct_nisi
  
  WHERE pet_to_nisi >= 0

  ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, digital_paper, pet_to_nisi)
 
GROUP BY "Case", Stage, Year, Quarter, case_type, law

ORDER BY "Case", Stage, Year, Quarter, case_type, law;
"""
pydb.create_temp_table(create_averages_10a_table,'averages_10a')

In [ ]:
create_averages_10b_table =f"""
SELECT 
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END AS "Case",
    Stage,
    Year,
    CAST(NULL AS VARCHAR) AS Quarter,
    digital_paper AS case_type,
    'All' AS law,
    count(*) as count
    
FROM fcsq.divorce_fct_nisi

GROUP BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END,
         Stage,
         Year,
         digital_paper;
"""
pydb.create_temp_table(create_averages_10b_table,'averages_10b')

In [ ]:
create_averages_10_table =f"""
SELECT
    b.*,
    a.mean_weeks,
    a.median_weeks
    
FROM __temp__.averages_10b AS b
LEFT JOIN __temp__.averages_10a AS a
 ON a."Case" = b."Case" AND
    a.Stage = b.Stage AND
    a.year = b.year AND
    a.case_type = b.case_type AND
    a.law=b.law;
"""
pydb.create_temp_table(create_averages_10_table,'averages_10')

In [ ]:
test = pydb.read_sql_query("SELECT * from __temp__.averages_10")
test

In [ ]:
#Nisi - Annual, without digital/paper split, with law split - averages table

# create_averages_11_table =f"""
# SELECT 
#   "Case",
#   Stage,
#   Year,
#   Quarter,
#   case_type,
#   law,
#   count(*) as count,
#   ROUND(AVG(CASE WHEN pet_to_nisi >= 0 THEN pet_to_nisi END)/7,3) AS mean_weeks,
#   ROUND((CASE WHEN COUNT(*) % 2 = 0
#               THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END) + MIN(CASE WHEN data_half = 2 THEN pet_to_nisi END)) /2.0 
#               ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END)
#          END) / 7, 3) AS median_weeks 
         
# FROM (
#   SELECT
#     CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
#          ELSE new_case_type 
#     END AS "Case",
#     Stage,
#     Year,
#     CAST(NULL AS VARCHAR) AS Quarter,
#     'All' AS case_type,
#     law,
#     pet_to_nisi,
#     NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, law 
#                       ORDER BY pet_to_nisi) AS data_half

#   FROM fcsq.divorce_fct_nisi

#   ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, law, pet_to_nisi) AS t3
 
# GROUP BY "Case", Stage, Year, Quarter, case_type, law

# ORDER BY "Case", Stage, Year, Quarter, case_type, law;
# """
# pydb.create_temp_table(create_averages_11_table,'averages_11')

In [ ]:
#Nisi - Annual, without digital/paper split, with law split - averages table

create_averages_11a_table =f"""
SELECT 
  "Case",
  Stage,
  Year,
  Quarter,
  case_type,
  law,
  count(*) as count,
  ROUND(AVG(pet_to_nisi)/7.0,3) AS mean_weeks,
  ROUND((CASE WHEN COUNT(*) % 2 = 0
              THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END) + MIN(CASE WHEN data_half = 2 THEN pet_to_nisi END)) /2.0 
              ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END)
         END) / 7.0, 3) AS median_weeks 
         
FROM (
  SELECT
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
         ELSE new_case_type 
    END AS "Case",
    Stage,
    Year,
    CAST(NULL AS VARCHAR) AS Quarter,
    'All' AS case_type,
    law,
    pet_to_nisi,
    NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' 
                                    ELSE new_case_type 
                                END, 
                                stage, 
                                year, 
                                law 
                      ORDER BY pet_to_nisi) AS data_half

  FROM fcsq.divorce_fct_nisi
  
  WHERE pet_to_nisi >= 0

  ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, law, pet_to_nisi)
 
GROUP BY "Case", Stage, Year, Quarter, case_type, law

ORDER BY "Case", Stage, Year, Quarter, case_type, law;
"""
pydb.create_temp_table(create_averages_11a_table,'averages_11a')

In [ ]:
create_averages_11b_table =f"""
SELECT 
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END AS "Case",
    Stage,
    Year,
    CAST(NULL AS VARCHAR) AS Quarter,
    'All' AS case_type,
    law,
    count(*) as count
    
FROM fcsq.divorce_fct_nisi

GROUP BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END,
         Stage,
         Year,
         law;
"""
pydb.create_temp_table(create_averages_11b_table,'averages_11b')

In [ ]:
create_averages_11_table =f"""
SELECT
    b.*,
    a.mean_weeks,
    a.median_weeks
    
FROM __temp__.averages_11b AS b
LEFT JOIN __temp__.averages_11a AS a
 ON a."Case" = b."Case" AND
    a.Stage = b.Stage AND
    a.year = b.year AND
    a.case_type = b.case_type AND
    a.law=b.law;
"""
pydb.create_temp_table(create_averages_11_table,'averages_11')

In [ ]:
test = pydb.read_sql_query("SELECT * from __temp__.averages_11")
test

In [ ]:
#Nisi - Annual, without digital/paper split, without law split - averages table

# create_averages_12_table =f"""
# SELECT 
#   "Case",
#   Stage,
#   Year,
#   Quarter,
#   case_type,
#   law,
#   count(*) as count,
#   ROUND(AVG(CASE WHEN pet_to_nisi >= 0 THEN pet_to_nisi END)/7,3) AS mean_weeks,
#   ROUND((CASE WHEN COUNT(*) % 2 = 0
#               THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END) + MIN(CASE WHEN data_half = 2 THEN pet_to_nisi END)) /2.0 
#               ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END)
#          END) / 7, 3) AS median_weeks 
         
# FROM (
#   SELECT
#     CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
#          ELSE new_case_type 
#     END AS "Case",
#     Stage,
#     Year,
#     CAST(NULL AS VARCHAR) AS Quarter,
#     'All' AS case_type,
#     'All' AS law,
#     pet_to_nisi,
#     NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year 
#                       ORDER BY pet_to_nisi) AS data_half

#   FROM fcsq.divorce_fct_nisi

#   ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, pet_to_nisi) AS t4
 
# GROUP BY "Case", Stage, Year, Quarter, case_type, law

# ORDER BY "Case", Stage, Year, Quarter, case_type, law;
# """
# pydb.create_temp_table(create_averages_12_table,'averages_12')

In [ ]:
#Nisi - Annual, without digital/paper split, without law split - averages table

create_averages_12a_table =f"""
SELECT 
  "Case",
  Stage,
  Year,
  Quarter,
  case_type,
  law,
  count(*) as count,
  ROUND(AVG(pet_to_nisi)/7.0,3) AS mean_weeks,
  ROUND((CASE WHEN COUNT(*) % 2 = 0
              THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END) + MIN(CASE WHEN data_half = 2 THEN pet_to_nisi END)) /2.0 
              ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END)
         END) / 7.0, 3) AS median_weeks 
         
FROM (
  SELECT
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
         ELSE new_case_type 
    END AS "Case",
    Stage,
    Year,
    CAST(NULL AS VARCHAR) AS Quarter,
    'All' AS case_type,
    'All' AS law,
    pet_to_nisi,
    NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' 
                                    ELSE new_case_type 
                                END, 
                                stage, 
                                year
                      ORDER BY pet_to_nisi) AS data_half

  FROM fcsq.divorce_fct_nisi
  
  WHERE pet_to_nisi >= 0

  ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, pet_to_nisi)
 
GROUP BY "Case", Stage, Year, Quarter, case_type, law

ORDER BY "Case", Stage, Year, Quarter, case_type, law;
"""
pydb.create_temp_table(create_averages_12a_table,'averages_12a')

In [ ]:
create_averages_12b_table =f"""
SELECT 
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END AS "Case",
    Stage,
    Year,
    CAST(NULL AS VARCHAR) AS Quarter,
    'All' AS case_type,
    'All' AS law,
    count(*) as count
    
FROM fcsq.divorce_fct_nisi

GROUP BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END,
         Stage,
         Year;
"""
pydb.create_temp_table(create_averages_12b_table,'averages_12b')

In [ ]:
create_averages_12_table =f"""
SELECT
    b.*,
    a.mean_weeks,
    a.median_weeks
    
FROM __temp__.averages_12b AS b
LEFT JOIN __temp__.averages_12a AS a
 ON a."Case" = b."Case" AND
    a.Stage = b.Stage AND
    a.year = b.year AND
    a.case_type = b.case_type AND
    a.law=b.law;
"""
pydb.create_temp_table(create_averages_12_table,'averages_12')

In [ ]:
test = pydb.read_sql_query("SELECT * from __temp__.averages_12")
test

In [ ]:
#Nisi - Quarterly, with digital/paper split, with law split - averages table 

# create_averages_13_table =f"""
# SELECT 
#   "Case",
#   Stage,
#   Year,
#   Quarter,
#   case_type,
#   law,
#   count(*) as count,
#   ROUND(AVG(CASE WHEN pet_to_nisi >= 0 THEN pet_to_nisi END)/7,3) AS mean_weeks,
#   ROUND((CASE WHEN COUNT(*) % 2 = 0
#               THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END) + MIN(CASE WHEN data_half = 2 THEN pet_to_nisi END)) /2.0 
#               ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END)
#          END) / 7, 3) AS median_weeks 
         
# FROM (
#   SELECT
#     CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
#          ELSE new_case_type 
#     END AS "Case",
#     Stage,
#     CAST(NULL AS INT) AS Year,
#     CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
#     digital_paper AS case_type,
#     law,
#     pet_to_nisi,
#     NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), digital_paper, law 
#                       ORDER BY pet_to_nisi) AS data_half

#   FROM fcsq.divorce_fct_nisi

#   ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), digital_paper, law, pet_to_nisi) AS t5
 
# GROUP BY "Case", Stage, Year, Quarter, case_type, law

# ORDER BY "Case", Stage, Year, Quarter, case_type, law;
# """
# pydb.create_temp_table(create_averages_13_table,'averages_13')

In [ ]:
#Nisi - Quarterly, with digital/paper split, with law split - averages table 

create_averages_13a_table =f"""
SELECT 
  "Case",
  Stage,
  Year,
  Quarter,
  case_type,
  law,
  count(*) as count,
  ROUND(AVG(pet_to_nisi)/7.0,3) AS mean_weeks,
  ROUND((CASE WHEN COUNT(*) % 2 = 0
              THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END) + MIN(CASE WHEN data_half = 2 THEN pet_to_nisi END)) /2.0 
              ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END)
         END) / 7.0, 3) AS median_weeks 
         
FROM (
  SELECT
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
         ELSE new_case_type 
    END AS "Case",
    Stage,
    CAST(NULL AS INT) AS Year,
    CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
    digital_paper AS case_type,
    law,
    pet_to_nisi,
    NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' 
                                    ELSE new_case_type 
                                END, 
                                stage, 
                                CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), 
                                digital_paper, 
                                law 
                      ORDER BY pet_to_nisi) AS data_half

  FROM fcsq.divorce_fct_nisi
  
  WHERE pet_to_nisi >= 0

  ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), digital_paper, law, pet_to_nisi)
 
GROUP BY "Case", Stage, Year, Quarter, case_type, law

ORDER BY "Case", Stage, Year, Quarter, case_type, law;
"""
pydb.create_temp_table(create_averages_13a_table,'averages_13a')

In [ ]:
create_averages_13b_table =f"""
SELECT 
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END AS "Case",
    Stage,
    CAST(NULL AS INT) AS Year,
    CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
    digital_paper AS case_type,
    law,
    count(*) as count
    
FROM fcsq.divorce_fct_nisi

GROUP BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END,
         Stage,
         CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)),
         digital_paper,
         law;
"""
pydb.create_temp_table(create_averages_13b_table,'averages_13b')

In [ ]:
create_averages_13_table =f"""
SELECT
    b.*,
    a.mean_weeks,
    a.median_weeks
    
FROM __temp__.averages_13b AS b
LEFT JOIN __temp__.averages_13a AS a
 ON a."Case" = b."Case" AND
    a.Stage = b.Stage AND
    a.quarter = b.quarter AND
    a.case_type = b.case_type AND
    a.law=b.law;
"""
pydb.create_temp_table(create_averages_13_table,'averages_13')

In [ ]:
test = pydb.read_sql_query("SELECT * from __temp__.averages_13")
test

In [ ]:
#pydb.delete_table_and_data(database="__temp__", table="averages_13")

In [ ]:
#Nisi - Quarterly, with digital/paper split, without law split - averages table

# create_averages_14_table =f"""
# SELECT 
#   "Case",
#   Stage,
#   Year,
#   Quarter,
#   case_type,
#   law,
#   count(*) as count,
#   ROUND(AVG(CASE WHEN pet_to_nisi >= 0 THEN pet_to_nisi END)/7,3) AS mean_weeks,
#   ROUND((CASE WHEN COUNT(*) % 2 = 0
#               THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END) + MIN(CASE WHEN data_half = 2 THEN pet_to_nisi END)) /2.0 
#               ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END)
#          END) / 7, 3) AS median_weeks 
         
# FROM (
#   SELECT
#     CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
#          ELSE new_case_type 
#     END AS "Case",
#     Stage,
#     CAST(NULL AS INT) AS Year,
#     CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
#     digital_paper AS case_type,
#     'All' AS law,
#     pet_to_nisi,
#     NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), digital_paper 
#                       ORDER BY pet_to_nisi) AS data_half

#   FROM fcsq.divorce_fct_nisi

#   ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), digital_paper, pet_to_nisi) AS t6
 
# GROUP BY "Case", Stage, Year, Quarter, case_type, law

# ORDER BY "Case", Stage, Year, Quarter, case_type, law;
# """
# pydb.create_temp_table(create_averages_14_table,'averages_14')

In [ ]:
#Nisi - Quarterly, with digital/paper split, without law split - averages table

create_averages_14a_table =f"""
SELECT 
  "Case",
  Stage,
  Year,
  Quarter,
  case_type,
  law,
  count(*) as count,
  ROUND(AVG(pet_to_nisi)/7.0,3) AS mean_weeks,
  ROUND((CASE WHEN COUNT(*) % 2 = 0
              THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END) + MIN(CASE WHEN data_half = 2 THEN pet_to_nisi END)) /2.0 
              ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END)
         END) / 7.0, 3) AS median_weeks 
         
FROM (
  SELECT
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
         ELSE new_case_type 
    END AS "Case",
    Stage,
    CAST(NULL AS INT) AS Year,
    CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
    digital_paper AS case_type,
    'All' AS law,
    pet_to_nisi,
    NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' 
                                    ELSE new_case_type 
                                END, 
                                stage, 
                                CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), 
                                digital_paper
                      ORDER BY pet_to_nisi) AS data_half

  FROM fcsq.divorce_fct_nisi
  
  WHERE pet_to_nisi >= 0

  ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), digital_paper, pet_to_nisi)
 
GROUP BY "Case", Stage, Year, Quarter, case_type, law

ORDER BY "Case", Stage, Year, Quarter, case_type, law;
"""
pydb.create_temp_table(create_averages_14a_table,'averages_14a')

In [ ]:
create_averages_14b_table =f"""
SELECT 
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END AS "Case",
    Stage,
    CAST(NULL AS INT) AS Year,
    CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
    digital_paper AS case_type,
    'All' AS law,
    count(*) as count
    
FROM fcsq.divorce_fct_nisi

GROUP BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END,
         Stage,
         CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)),
         digital_paper;
"""
pydb.create_temp_table(create_averages_14b_table,'averages_14b')

In [ ]:
create_averages_14_table =f"""
SELECT
    b.*,
    a.mean_weeks,
    a.median_weeks
    
FROM __temp__.averages_14b AS b
LEFT JOIN __temp__.averages_14a AS a
 ON a."Case" = b."Case" AND
    a.Stage = b.Stage AND
    a.quarter = b.quarter AND
    a.case_type = b.case_type AND
    a.law=b.law;
"""
pydb.create_temp_table(create_averages_14_table,'averages_14')

In [ ]:
test = pydb.read_sql_query("SELECT * from __temp__.averages_14")
test

In [ ]:
#Nisi - Quarterly, without digital/paper split, with law split - averages table

# create_averages_15_table =f"""
# SELECT 
#   "Case",
#   Stage,
#   Year,
#   Quarter,
#   case_type,
#   law,
#   count(*) as count,
#   ROUND(AVG(CASE WHEN pet_to_nisi >= 0 THEN pet_to_nisi END)/7,3) AS mean_weeks,
#   ROUND((CASE WHEN COUNT(*) % 2 = 0
#               THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END) + MIN(CASE WHEN data_half = 2 THEN pet_to_nisi END)) /2.0 
#               ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END)
#          END) / 7, 3) AS median_weeks 
         
# FROM (
#   SELECT
#     CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
#          ELSE new_case_type 
#     END AS "Case",
#     Stage,
#     CAST(NULL AS INT) AS Year,
#     CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
#     'All' AS case_type,
#     law,
#     pet_to_nisi,
#     NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), law 
#                       ORDER BY pet_to_nisi) AS data_half

#   FROM fcsq.divorce_fct_nisi

#   ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), law, pet_to_nisi) AS t7
 
# GROUP BY "Case", Stage, Year, Quarter, case_type, law

# ORDER BY "Case", Stage, Year, Quarter, case_type, law;
# """
# pydb.create_temp_table(create_averages_15_table,'averages_15')

In [ ]:
#Nisi - Quarterly, without digital/paper split, with law split - averages table

create_averages_15a_table =f"""
SELECT 
  "Case",
  Stage,
  Year,
  Quarter,
  case_type,
  law,
  count(*) as count,
  ROUND(AVG(pet_to_nisi)/7.0,3) AS mean_weeks,
  ROUND((CASE WHEN COUNT(*) % 2 = 0
              THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END) + MIN(CASE WHEN data_half = 2 THEN pet_to_nisi END)) /2.0 
              ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END)
         END) / 7.0, 3) AS median_weeks 
         
FROM (
  SELECT
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
         ELSE new_case_type 
    END AS "Case",
    Stage,
    CAST(NULL AS INT) AS Year,
    CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
    'All' AS case_type,
    law,
    pet_to_nisi,
    NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' 
                                    ELSE new_case_type 
                                END, 
                                stage, 
                                CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)),
                                law 
                      ORDER BY pet_to_nisi) AS data_half

  FROM fcsq.divorce_fct_nisi
  
  WHERE pet_to_nisi >= 0

  ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), law, pet_to_nisi)
 
GROUP BY "Case", Stage, Year, Quarter, case_type, law

ORDER BY "Case", Stage, Year, Quarter, case_type, law;
"""
pydb.create_temp_table(create_averages_15a_table,'averages_15a')

In [ ]:
create_averages_15b_table =f"""
SELECT 
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END AS "Case",
    Stage,
    CAST(NULL AS INT) AS Year,
    CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
    'All' AS case_type,
    law,
    count(*) as count
    
FROM fcsq.divorce_fct_nisi

GROUP BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END,
         Stage,
         CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)),
         law;
"""
pydb.create_temp_table(create_averages_15b_table,'averages_15b')

In [ ]:
create_averages_15_table =f"""
SELECT
    b.*,
    a.mean_weeks,
    a.median_weeks
    
FROM __temp__.averages_15b AS b
LEFT JOIN __temp__.averages_15a AS a
 ON a."Case" = b."Case" AND
    a.Stage = b.Stage AND
    a.quarter = b.quarter AND
    a.case_type = b.case_type AND
    a.law=b.law;
"""
pydb.create_temp_table(create_averages_15_table,'averages_15')

In [ ]:
test = pydb.read_sql_query("SELECT * from __temp__.averages_15")
test

In [ ]:
#Nisi - Quarterly, without digital/paper split, without law split - averages table

# create_averages_16_table = f"""
# SELECT 
#   "Case",
#   Stage,
#   Year,
#   Quarter,
#   case_type,
#   law,
#   count(*) as count,
#   ROUND(AVG(CASE WHEN pet_to_nisi >= 0 THEN pet_to_nisi END)/7,3) AS mean_weeks,
#   ROUND((CASE WHEN COUNT(*) % 2 = 0
#               THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END) + MIN(CASE WHEN data_half = 2 THEN pet_to_nisi END)) /2.0 
#               ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END)
#          END) / 7, 3) AS median_weeks 
         
# FROM (
#   SELECT
#     CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
#          ELSE new_case_type 
#     END AS "Case",
#     Stage,
#     CAST(NULL AS INT) AS Year,
#     CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
#     'All' AS case_type,
#     'All' AS law,
#     pet_to_nisi,
#     NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) 
#                       ORDER BY pet_to_nisi) AS data_half

#   FROM fcsq.divorce_fct_nisi

#   ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), pet_to_nisi) AS t8
 
# GROUP BY "Case", Stage, Year, Quarter, case_type, law

# ORDER BY "Case", Stage, Year, Quarter, case_type, law;
# """
# pydb.create_temp_table(create_averages_16_table,'averages_16')

In [ ]:
#Nisi - Quarterly, without digital/paper split, without law split - averages table

create_averages_16a_table =f"""
SELECT 
  "Case",
  Stage,
  Year,
  Quarter,
  case_type,
  law,
  count(*) as count,
  ROUND(AVG(pet_to_nisi)/7.0,3) AS mean_weeks,
  ROUND((CASE WHEN COUNT(*) % 2 = 0
              THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END) + MIN(CASE WHEN data_half = 2 THEN pet_to_nisi END)) /2.0 
              ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_nisi END)
         END) / 7.0, 3) AS median_weeks 
         
FROM (
  SELECT
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
         ELSE new_case_type 
    END AS "Case",
    Stage,
    CAST(NULL AS INT) AS Year,
    CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
    'All' AS case_type,
    'All' AS law,
    pet_to_nisi,
    NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' 
                                    ELSE new_case_type 
                                END, 
                                stage, 
                                CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR))
                      ORDER BY pet_to_nisi) AS data_half

  FROM fcsq.divorce_fct_nisi
  
  WHERE pet_to_nisi >= 0

  ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), pet_to_nisi)
 
GROUP BY "Case", Stage, Year, Quarter, case_type, law

ORDER BY "Case", Stage, Year, Quarter, case_type, law;
"""
pydb.create_temp_table(create_averages_16a_table,'averages_16a')

In [ ]:
create_averages_16b_table =f"""
SELECT 
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END AS "Case",
    Stage,
    CAST(NULL AS INT) AS Year,
    CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
    'All' AS case_type,
    'All' AS law,
    count(*) as count
    
FROM fcsq.divorce_fct_nisi

GROUP BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END,
         Stage,
         CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR));
"""
pydb.create_temp_table(create_averages_16b_table,'averages_16b')

In [ ]:
create_averages_16_table =f"""
SELECT
    b.*,
    a.mean_weeks,
    a.median_weeks
    
FROM __temp__.averages_16b AS b
LEFT JOIN __temp__.averages_16a AS a
 ON a."Case" = b."Case" AND
    a.Stage = b.Stage AND
    a.quarter = b.quarter AND
    a.case_type = b.case_type AND
    a.law=b.law;
"""
pydb.create_temp_table(create_averages_16_table,'averages_16')

In [ ]:
test = pydb.read_sql_query("SELECT * from __temp__.averages_16")
test

In [ ]:
#Absolute - Annual, with digital/paper split, with law split - averages table

# create_averages_17_table =f"""
# SELECT 
#   "Case",
#   Stage,
#   Year,
#   Quarter,
#   case_type,
#   law,
#   count(*) as count,
#   ROUND(AVG(CASE WHEN pet_to_abs >= 0 THEN pet_to_abs END)/7,3) AS mean_weeks,
#   ROUND((CASE WHEN COUNT(*) % 2 = 0
#               THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_abs END) + MIN(CASE WHEN data_half = 2 THEN pet_to_abs END)) /2.0 
#               ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_abs END)
#          END) / 7, 3) AS median_weeks 
         
# FROM (
#   SELECT
#     CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
#          ELSE new_case_type 
#     END AS "Case",
#     Stage,
#     Year,
#     CAST(NULL AS VARCHAR) AS Quarter,
#     digital_paper AS case_type,
#     law,
#     pet_to_abs,
#     NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, digital_paper, law 
#                       ORDER BY pet_to_abs) AS data_half

#   FROM fcsq.divorce_fct_abs

#   ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, digital_paper, law, pet_to_abs) AS t9

# GROUP BY "Case", Stage, Year, Quarter, case_type, law

# ORDER BY "Case", Stage, Year, Quarter, case_type, law;
# """
# pydb.create_temp_table(create_averages_17_table,'averages_17')

In [ ]:
#Absolute - Annual, with digital/paper split, with law split - averages table

create_averages_17a_table =f"""
SELECT 
  "Case",
  Stage,
  Year,
  Quarter,
  case_type,
  law,
  count(*) as count,
  ROUND(AVG(pet_to_abs)/7.0,3) AS mean_weeks,
  ROUND((CASE WHEN COUNT(*) % 2 = 0
              THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_abs END) + MIN(CASE WHEN data_half = 2 THEN pet_to_abs END)) /2.0 
              ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_abs END)
         END) / 7.0, 3) AS median_weeks 
         
FROM (
  SELECT
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
         ELSE new_case_type 
    END AS "Case",
    Stage,
    Year,
    CAST(NULL AS VARCHAR) AS Quarter,
    digital_paper AS case_type,
    law,
    pet_to_abs,
    NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' 
                                    ELSE new_case_type 
                                END, 
                                stage, 
                                year, 
                                digital_paper, 
                                law 
                      ORDER BY pet_to_abs) AS data_half

  FROM fcsq.divorce_fct_abs
  
  WHERE pet_to_abs >= 0

  ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, digital_paper, law, pet_to_abs)
 
GROUP BY "Case", Stage, Year, Quarter, case_type, law

ORDER BY "Case", Stage, Year, Quarter, case_type, law;
"""
pydb.create_temp_table(create_averages_17a_table,'averages_17a')

In [ ]:
create_averages_17b_table =f"""
SELECT 
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END AS "Case",
    Stage,
    Year,
    CAST(NULL AS VARCHAR) AS Quarter,
    digital_paper AS case_type,
    law,
    count(*) as count
    
FROM fcsq.divorce_fct_abs

GROUP BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END,
         Stage,
         Year,
         digital_paper,
         law;
"""
pydb.create_temp_table(create_averages_17b_table,'averages_17b')

In [ ]:
create_averages_17_table =f"""
SELECT
    b.*,
    a.mean_weeks,
    a.median_weeks
    
FROM __temp__.averages_17b AS b
LEFT JOIN __temp__.averages_17a AS a
 ON a."Case" = b."Case" AND
    a.Stage = b.Stage AND
    a.year = b.year AND
    a.case_type = b.case_type AND
    a.law=b.law;
"""
pydb.create_temp_table(create_averages_17_table,'averages_17')

In [ ]:
test = pydb.read_sql_query("SELECT * from __temp__.averages_17")
test

In [ ]:
#Absolute - Annual, with digital/paper split, without law split - averages table

# create_averages_18_table =f"""
# SELECT 
#   "Case",
#   Stage,
#   Year,
#   Quarter,
#   case_type,
#   law,
#   count(*) as count,
#   ROUND(AVG(CASE WHEN pet_to_abs >= 0 THEN pet_to_abs END)/7,3) AS mean_weeks,
#   ROUND((CASE WHEN COUNT(*) % 2 = 0
#               THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_abs END) + MIN(CASE WHEN data_half = 2 THEN pet_to_abs END)) /2.0 
#               ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_abs END)
#          END) / 7, 3) AS median_weeks 
         
# FROM (
#   SELECT
#     CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
#          ELSE new_case_type 
#     END AS "Case",
#     Stage,
#     Year,
#     CAST(NULL AS VARCHAR) AS Quarter,
#     digital_paper AS case_type,
#     'All' AS law,
#     pet_to_abs,
#     NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, digital_paper 
#                       ORDER BY pet_to_abs) AS data_half

#   FROM fcsq.divorce_fct_abs

#   ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, digital_paper, pet_to_abs) AS t10

# GROUP BY "Case", Stage, Year, Quarter, case_type, law

# ORDER BY "Case", Stage, Year, Quarter, case_type, law;
# """
# pydb.create_temp_table(create_averages_18_table,'averages_18')

In [ ]:
#Absolute - Annual, with digital/paper split, without law split - averages table

create_averages_18a_table =f"""
SELECT 
  "Case",
  Stage,
  Year,
  Quarter,
  case_type,
  law,
  count(*) as count,
  ROUND(AVG(pet_to_abs)/7.0,3) AS mean_weeks,
  ROUND((CASE WHEN COUNT(*) % 2 = 0
              THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_abs END) + MIN(CASE WHEN data_half = 2 THEN pet_to_abs END)) /2.0 
              ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_abs END)
         END) / 7.0, 3) AS median_weeks 
         
FROM (
  SELECT
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
         ELSE new_case_type 
    END AS "Case",
    Stage,
    Year,
    CAST(NULL AS VARCHAR) AS Quarter,
    digital_paper AS case_type,
    'All' AS law,
    pet_to_abs,
    NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' 
                                    ELSE new_case_type 
                                END, 
                                stage, 
                                year, 
                                digital_paper 
                      ORDER BY pet_to_abs) AS data_half

  FROM fcsq.divorce_fct_abs
  
  WHERE pet_to_abs >= 0

  ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, digital_paper, pet_to_abs)
 
GROUP BY "Case", Stage, Year, Quarter, case_type, law

ORDER BY "Case", Stage, Year, Quarter, case_type, law;
"""
pydb.create_temp_table(create_averages_18a_table,'averages_18a')

In [ ]:
create_averages_18b_table =f"""
SELECT 
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END AS "Case",
    Stage,
    Year,
    CAST(NULL AS VARCHAR) AS Quarter,
    digital_paper AS case_type,
    'All' AS law,
    count(*) as count
    
FROM fcsq.divorce_fct_abs

GROUP BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END,
         Stage,
         Year,
         digital_paper;
"""
pydb.create_temp_table(create_averages_18b_table,'averages_18b')

In [ ]:
create_averages_18_table =f"""
SELECT
    b.*,
    a.mean_weeks,
    a.median_weeks
    
FROM __temp__.averages_18b AS b
LEFT JOIN __temp__.averages_18a AS a
 ON a."Case" = b."Case" AND
    a.Stage = b.Stage AND
    a.year = b.year AND
    a.case_type = b.case_type AND
    a.law=b.law;
"""
pydb.create_temp_table(create_averages_18_table,'averages_18')

In [ ]:
test = pydb.read_sql_query("SELECT * from __temp__.averages_18")
test

In [ ]:
#Absolute - Annual, without digital/paper split, with law split - averages table

# create_averages_19_table =f"""
# SELECT 
#   "Case",
#   Stage,
#   Year,
#   Quarter,
#   case_type,
#   law,
#   count(*) as count,
#   ROUND(AVG(CASE WHEN pet_to_abs >= 0 THEN pet_to_abs END)/7,3) AS mean_weeks,
#   ROUND((CASE WHEN COUNT(*) % 2 = 0
#               THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_abs END) + MIN(CASE WHEN data_half = 2 THEN pet_to_abs END)) /2.0 
#               ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_abs END)
#          END) / 7, 3) AS median_weeks 
         
# FROM (
#   SELECT
#     CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
#          ELSE new_case_type 
#     END AS "Case",
#     Stage,
#     Year,
#     CAST(NULL AS VARCHAR) AS Quarter,
#     'All' AS case_type,
#     law,
#     pet_to_abs,
#     NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, law 
#                       ORDER BY pet_to_abs) AS data_half

#   FROM fcsq.divorce_fct_abs

#   ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, law, pet_to_abs) AS t11

# GROUP BY "Case", Stage, Year, Quarter, case_type, law

# ORDER BY "Case", Stage, Year, Quarter, case_type, law;
# """
# pydb.create_temp_table(create_averages_19_table,'averages_19')

In [ ]:
#Absolute - Annual, without digital/paper split, with law split - averages table

create_averages_19a_table =f"""
SELECT 
  "Case",
  Stage,
  Year,
  Quarter,
  case_type,
  law,
  count(*) as count,
  ROUND(AVG(pet_to_abs)/7.0,3) AS mean_weeks,
  ROUND((CASE WHEN COUNT(*) % 2 = 0
              THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_abs END) + MIN(CASE WHEN data_half = 2 THEN pet_to_abs END)) /2.0 
              ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_abs END)
         END) / 7.0, 3) AS median_weeks 
         
FROM (
  SELECT
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
         ELSE new_case_type 
    END AS "Case",
    Stage,
    Year,
    CAST(NULL AS VARCHAR) AS Quarter,
    'All' AS case_type,
    law,
    pet_to_abs,
    NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' 
                                    ELSE new_case_type 
                                END, 
                                stage, 
                                year, 
                                law 
                      ORDER BY pet_to_abs) AS data_half

  FROM fcsq.divorce_fct_abs
  
  WHERE pet_to_abs >= 0

  ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, law, pet_to_abs)
 
GROUP BY "Case", Stage, Year, Quarter, case_type, law

ORDER BY "Case", Stage, Year, Quarter, case_type, law;
"""
pydb.create_temp_table(create_averages_19a_table,'averages_19a')

In [ ]:
create_averages_19b_table =f"""
SELECT 
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END AS "Case",
    Stage,
    Year,
    CAST(NULL AS VARCHAR) AS Quarter,
    'All' AS case_type,
    law,
    count(*) as count
    
FROM fcsq.divorce_fct_abs

GROUP BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END,
         Stage,
         Year,
         law;
"""
pydb.create_temp_table(create_averages_19b_table,'averages_19b')

In [ ]:
create_averages_19_table =f"""
SELECT
    b.*,
    a.mean_weeks,
    a.median_weeks
    
FROM __temp__.averages_19b AS b
LEFT JOIN __temp__.averages_19a AS a
 ON a."Case" = b."Case" AND
    a.Stage = b.Stage AND
    a.year = b.year AND
    a.case_type = b.case_type AND
    a.law=b.law;
"""
pydb.create_temp_table(create_averages_19_table,'averages_19')

In [ ]:
test = pydb.read_sql_query("SELECT * from __temp__.averages_19")
test

In [ ]:
#Absolute - Annual, without digital/paper split, without law split - averages table

# create_averages_20_table =f"""
# SELECT 
#   "Case",
#   Stage,
#   Year,
#   Quarter,
#   case_type,
#   law,
#   count(*) as count,
#   ROUND(AVG(CASE WHEN pet_to_abs >= 0 THEN pet_to_abs END)/7,3) AS mean_weeks,
#   ROUND((CASE WHEN COUNT(*) % 2 = 0
#               THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_abs END) + MIN(CASE WHEN data_half = 2 THEN pet_to_abs END)) /2.0 
#               ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_abs END)
#          END) / 7, 3) AS median_weeks 
         
# FROM (
#   SELECT
#     CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
#          ELSE new_case_type 
#     END AS "Case",
#     Stage,
#     Year,
#    CAST(NULL AS VARCHAR) AS Quarter,
#     'All' AS case_type,
#     'All' AS law,
#     pet_to_abs,
#     NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year 
#                       ORDER BY pet_to_abs) AS data_half

#   FROM fcsq.divorce_fct_abs

#   ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, pet_to_abs) AS t12

# GROUP BY "Case", Stage, Year, Quarter, case_type, law

# ORDER BY "Case", Stage, Year, Quarter, case_type, law;
# """
# pydb.create_temp_table(create_averages_20_table,'averages_20')

In [ ]:
#Absolute - Annual, without digital/paper split, without law split - averages table

create_averages_20a_table =f"""
SELECT 
  "Case",
  Stage,
  Year,
  Quarter,
  case_type,
  law,
  count(*) as count,
  ROUND(AVG(pet_to_abs)/7.0,3) AS mean_weeks,
  ROUND((CASE WHEN COUNT(*) % 2 = 0
              THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_abs END) + MIN(CASE WHEN data_half = 2 THEN pet_to_abs END)) /2.0 
              ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_abs END)
         END) / 7.0, 3) AS median_weeks 
         
FROM (
  SELECT
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
         ELSE new_case_type 
    END AS "Case",
    Stage,
    Year,
    CAST(NULL AS VARCHAR) AS Quarter,
    'All' AS case_type,
    'All' AS law,
    pet_to_abs,
    NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' 
                                    ELSE new_case_type 
                                END, 
                                stage, 
                                year
                      ORDER BY pet_to_abs) AS data_half

  FROM fcsq.divorce_fct_abs
  
  WHERE pet_to_abs >= 0

  ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, year, pet_to_abs)
 
GROUP BY "Case", Stage, Year, Quarter, case_type, law

ORDER BY "Case", Stage, Year, Quarter, case_type, law;
"""
pydb.create_temp_table(create_averages_20a_table,'averages_20a')

In [ ]:
create_averages_20b_table =f"""
SELECT 
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END AS "Case",
    Stage,
    Year,
    CAST(NULL AS VARCHAR) AS Quarter,
    'All' AS case_type,
    'All' AS law,
    count(*) as count
    
FROM fcsq.divorce_fct_abs

GROUP BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END,
         Stage,
         Year;
"""
pydb.create_temp_table(create_averages_20b_table,'averages_20b')

In [ ]:
create_averages_20_table =f"""
SELECT
    b.*,
    a.mean_weeks,
    a.median_weeks
    
FROM __temp__.averages_20b AS b
LEFT JOIN __temp__.averages_20a AS a
 ON a."Case" = b."Case" AND
    a.Stage = b.Stage AND
    a.year = b.year AND
    a.case_type = b.case_type AND
    a.law=b.law;
"""
pydb.create_temp_table(create_averages_20_table,'averages_20')

In [ ]:
test = pydb.read_sql_query("SELECT * from __temp__.averages_20")
test

In [ ]:
#Absolute - Quarterly, with digital/paper split, with law split - averages table 

# create_averages_21_table =f"""
# SELECT 
#   "Case",
#   Stage,
#   Year,
#   Quarter,
#   case_type,
#   law,
#   count(*) as count,
#   ROUND(AVG(CASE WHEN pet_to_abs >= 0 THEN pet_to_abs END)/7,3) AS mean_weeks,
#   ROUND((CASE WHEN COUNT(*) % 2 = 0
#               THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_abs END) + MIN(CASE WHEN data_half = 2 THEN pet_to_abs END)) /2.0 
#               ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_abs END)
#          END) / 7, 3) AS median_weeks 
         
# FROM (
#   SELECT
#     CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
#          ELSE new_case_type 
#     END AS "Case",
#     Stage,
#     CAST(NULL AS INT) AS Year,
#     CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
#     digital_paper AS case_type,
#     law,
#     pet_to_abs,
#     NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), digital_paper, law 
#                       ORDER BY pet_to_abs) AS data_half

#   FROM fcsq.divorce_fct_abs

#   ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), digital_paper, law, pet_to_abs) AS t13

# GROUP BY "Case", Stage, Year, Quarter, case_type, law

# ORDER BY "Case", Stage, Year, Quarter, case_type, law;
# """
# pydb.create_temp_table(create_averages_21_table,'averages_21')

In [ ]:
#Absolute - Quarterly, with digital/paper split, with law split - averages table 

create_averages_21a_table =f"""
SELECT 
  "Case",
  Stage,
  Year,
  Quarter,
  case_type,
  law,
  count(*) as count,
  ROUND(AVG(pet_to_abs)/7.0,3) AS mean_weeks,
  ROUND((CASE WHEN COUNT(*) % 2 = 0
              THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_abs END) + MIN(CASE WHEN data_half = 2 THEN pet_to_abs END)) /2.0 
              ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_abs END)
         END) / 7.0, 3) AS median_weeks 
         
FROM (
  SELECT
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
         ELSE new_case_type 
    END AS "Case",
    Stage,
    CAST(NULL AS INT) AS Year,
    CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
    digital_paper AS case_type,
    law,
    pet_to_abs,
    NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' 
                                    ELSE new_case_type 
                                END, 
                                stage, 
                                CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), 
                                digital_paper, 
                                law 
                      ORDER BY pet_to_abs) AS data_half

  FROM fcsq.divorce_fct_abs
  
  WHERE pet_to_abs >= 0

  ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), digital_paper, law, pet_to_abs)
 
GROUP BY "Case", Stage, Year, Quarter, case_type, law

ORDER BY "Case", Stage, Year, Quarter, case_type, law;
"""
pydb.create_temp_table(create_averages_21a_table,'averages_21a')

In [ ]:
create_averages_21b_table =f"""
SELECT 
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END AS "Case",
    Stage,
    CAST(NULL AS INT) AS Year,
    CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
    digital_paper AS case_type,
    law,
    count(*) as count
    
FROM fcsq.divorce_fct_abs

GROUP BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END,
         Stage,
         CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)),
         digital_paper,
         law;
"""
pydb.create_temp_table(create_averages_21b_table,'averages_21b')

In [ ]:
create_averages_21_table =f"""
SELECT
    b.*,
    a.mean_weeks,
    a.median_weeks
    
FROM __temp__.averages_21b AS b
LEFT JOIN __temp__.averages_21a AS a
 ON a."Case" = b."Case" AND
    a.Stage = b.Stage AND
    a.quarter = b.quarter AND
    a.case_type = b.case_type AND
    a.law=b.law;
"""
pydb.create_temp_table(create_averages_21_table,'averages_21')

In [ ]:
test = pydb.read_sql_query("SELECT * from __temp__.averages_21")
test

In [ ]:
#Absolute - Quarterly, with digital/paper split, without law split - averages table

# create_averages_22_table =f"""
# SELECT 
#   "Case",
#   Stage,
#   Year,
#   Quarter,
#   case_type,
#   law,
#   count(*) as count,
#   ROUND(AVG(CASE WHEN pet_to_abs >= 0 THEN pet_to_abs END)/7,3) AS mean_weeks,
#   ROUND((CASE WHEN COUNT(*) % 2 = 0
#               THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_abs END) + MIN(CASE WHEN data_half = 2 THEN pet_to_abs END)) /2.0 
#               ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_abs END)
#          END) / 7, 3) AS median_weeks 
         
# FROM (
#   SELECT
#     CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
#          ELSE new_case_type 
#     END AS "Case",
#     Stage,
#     CAST(NULL AS INT) AS Year,
#     CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
#     digital_paper AS case_type,
#     'All' AS law,
#     pet_to_abs,
#     NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), digital_paper 
#                       ORDER BY pet_to_abs) AS data_half

#   FROM fcsq.divorce_fct_abs

#   ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), digital_paper, pet_to_abs) AS t14

# GROUP BY "Case", Stage, Year, Quarter, case_type, law

# ORDER BY "Case", Stage, Year, Quarter, case_type, law;
# """
# pydb.create_temp_table(create_averages_22_table,'averages_22')

In [ ]:
#Absolute - Quarterly, with digital/paper split, without law split - averages table

create_averages_22a_table =f"""
SELECT 
  "Case",
  Stage,
  Year,
  Quarter,
  case_type,
  law,
  count(*) as count,
  ROUND(AVG(pet_to_abs)/7.0,3) AS mean_weeks,
  ROUND((CASE WHEN COUNT(*) % 2 = 0
              THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_abs END) + MIN(CASE WHEN data_half = 2 THEN pet_to_abs END)) /2.0 
              ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_abs END)
         END) / 7.0, 3) AS median_weeks 
         
FROM (
  SELECT
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
         ELSE new_case_type 
    END AS "Case",
    Stage,
    CAST(NULL AS INT) AS Year,
    CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
    digital_paper AS case_type,
    'All' AS law,
    pet_to_abs,
    NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' 
                                    ELSE new_case_type 
                                END, 
                                stage, 
                                CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), 
                                digital_paper
                      ORDER BY pet_to_abs) AS data_half

  FROM fcsq.divorce_fct_abs
  
  WHERE pet_to_abs >= 0

  ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), digital_paper, pet_to_abs)
 
GROUP BY "Case", Stage, Year, Quarter, case_type, law

ORDER BY "Case", Stage, Year, Quarter, case_type, law;
"""
pydb.create_temp_table(create_averages_22a_table,'averages_22a')

In [ ]:
create_averages_22b_table =f"""
SELECT 
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END AS "Case",
    Stage,
    CAST(NULL AS INT) AS Year,
    CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
    digital_paper AS case_type,
    'All' AS law,
    count(*) as count
    
FROM fcsq.divorce_fct_abs

GROUP BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END,
         Stage,
         CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)),
         digital_paper;
"""
pydb.create_temp_table(create_averages_22b_table,'averages_22b')

In [ ]:
create_averages_22_table =f"""
SELECT
    b.*,
    a.mean_weeks,
    a.median_weeks
    
FROM __temp__.averages_22b AS b
LEFT JOIN __temp__.averages_22a AS a
 ON a."Case" = b."Case" AND
    a.Stage = b.Stage AND
    a.quarter = b.quarter AND
    a.case_type = b.case_type AND
    a.law=b.law;
"""
pydb.create_temp_table(create_averages_22_table,'averages_22')

In [ ]:
test = pydb.read_sql_query("SELECT * from __temp__.averages_22")
test

In [ ]:
#Absolute - Quarterly, without digital/paper split, with law split - averages table

# create_averages_23_table =f"""
# SELECT 
#   "Case",
#   Stage,
#   Year,
#   Quarter,
#   case_type,
#   law,
#   count(*) as count,
#   ROUND(AVG(CASE WHEN pet_to_abs >= 0 THEN pet_to_abs END)/7,3) AS mean_weeks,
#   ROUND((CASE WHEN COUNT(*) % 2 = 0
#               THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_abs END) + MIN(CASE WHEN data_half = 2 THEN pet_to_abs END)) /2.0 
#               ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_abs END)
#          END) / 7, 3) AS median_weeks 
         
# FROM (
#   SELECT
#     CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
#          ELSE new_case_type 
#     END AS "Case",
#     Stage,
#     CAST(NULL AS INT) AS Year,
#     CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
#     'All' AS case_type,
#     law,
#     pet_to_abs,
#     NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), law 
#                       ORDER BY pet_to_abs) AS data_half

#   FROM fcsq.divorce_fct_abs

#   ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), law, pet_to_abs) AS t15

# GROUP BY "Case", Stage, Year, Quarter, case_type, law

# ORDER BY "Case", Stage, Year, Quarter, case_type, law;
# """
# pydb.create_temp_table(create_averages_23_table,'averages_23')

In [ ]:
#Absolute - Quarterly, without digital/paper split, with law split - averages table

create_averages_23a_table =f"""
SELECT 
  "Case",
  Stage,
  Year,
  Quarter,
  case_type,
  law,
  count(*) as count,
  ROUND(AVG(pet_to_abs)/7.0,3) AS mean_weeks,
  ROUND((CASE WHEN COUNT(*) % 2 = 0
              THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_abs END) + MIN(CASE WHEN data_half = 2 THEN pet_to_abs END)) /2.0 
              ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_abs END)
         END) / 7.0, 3) AS median_weeks 
         
FROM (
  SELECT
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
         ELSE new_case_type 
    END AS "Case",
    Stage,
    CAST(NULL AS INT) AS Year,
    CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
    'All' AS case_type,
    law,
    pet_to_abs,
    NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' 
                                    ELSE new_case_type 
                                END, 
                                stage, 
                                CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)),
                                law 
                      ORDER BY pet_to_abs) AS data_half

  FROM fcsq.divorce_fct_abs
  
  WHERE pet_to_abs >= 0

  ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), law, pet_to_abs)
 
GROUP BY "Case", Stage, Year, Quarter, case_type, law

ORDER BY "Case", Stage, Year, Quarter, case_type, law;
"""
pydb.create_temp_table(create_averages_23a_table,'averages_23a')

In [ ]:
create_averages_23b_table =f"""
SELECT 
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END AS "Case",
    Stage,
    CAST(NULL AS INT) AS Year,
    CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
    'All' AS case_type,
    law,
    count(*) as count
    
FROM fcsq.divorce_fct_abs

GROUP BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END,
         Stage,
         CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)),
         law;
"""
pydb.create_temp_table(create_averages_23b_table,'averages_23b')

In [ ]:
create_averages_23_table =f"""
SELECT
    b.*,
    a.mean_weeks,
    a.median_weeks
    
FROM __temp__.averages_23b AS b
LEFT JOIN __temp__.averages_23a AS a
 ON a."Case" = b."Case" AND
    a.Stage = b.Stage AND
    a.quarter = b.quarter AND
    a.case_type = b.case_type AND
    a.law=b.law;
"""
pydb.create_temp_table(create_averages_23_table,'averages_23')

In [ ]:
test = pydb.read_sql_query("SELECT * from __temp__.averages_23")
test

In [ ]:
#Absolute - Quarterly, without digital/paper split, without law split - averages table

# create_averages_24_table =f"""
# SELECT 
#   "Case",
#   Stage,
#   Year,
#   Quarter,
#   case_type,
#   law,
#   count(*) as count,
#   ROUND(AVG(CASE WHEN pet_to_abs >= 0 THEN pet_to_abs END)/7,3) AS mean_weeks,
#   ROUND((CASE WHEN COUNT(*) % 2 = 0
#               THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_abs END) + MIN(CASE WHEN data_half = 2 THEN pet_to_abs END)) /2.0 
#               ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_abs END)
#          END) / 7, 3) AS median_weeks 
         
# FROM (
#   SELECT
#     CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
#          ELSE new_case_type 
#     END AS "Case",
#     Stage,
#     CAST(NULL AS INT) AS Year,
#     CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
#     'All' AS case_type,
#     'All' AS law,
#     pet_to_abs,
#     NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) 
#                       ORDER BY pet_to_abs) AS data_half

#   FROM fcsq.divorce_fct_abs

#   ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), pet_to_abs) AS t16

# GROUP BY "Case", Stage, Year, Quarter, case_type, law

# ORDER BY "Case", Stage, Year, Quarter, case_type, law;

# """
# pydb.create_temp_table(create_averages_24_table,'averages_24')

In [ ]:
#Absolute - Quarterly, without digital/paper split, without law split - averages table

create_averages_24a_table =f"""
SELECT 
  "Case",
  Stage,
  Year,
  Quarter,
  case_type,
  law,
  count(*) as count,
  ROUND(AVG(pet_to_abs)/7.0,3) AS mean_weeks,
  ROUND((CASE WHEN COUNT(*) % 2 = 0
              THEN (MAX(CASE WHEN data_half = 1 THEN pet_to_abs END) + MIN(CASE WHEN data_half = 2 THEN pet_to_abs END)) /2.0 
              ELSE MAX(CASE WHEN data_half = 1 THEN pet_to_abs END)
         END) / 7.0, 3) AS median_weeks 
         
FROM (
  SELECT
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce'
         ELSE new_case_type 
    END AS "Case",
    Stage,
    CAST(NULL AS INT) AS Year,
    CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
    'All' AS case_type,
    'All' AS law,
    pet_to_abs,
    NTILE(2) OVER (PARTITION BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' 
                                    ELSE new_case_type 
                                END, 
                                stage, 
                                CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR))
                      ORDER BY pet_to_abs) AS data_half

  FROM fcsq.divorce_fct_abs
  
  WHERE pet_to_abs >= 0

  ORDER BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END, stage, CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)), pet_to_abs)
 
GROUP BY "Case", Stage, Year, Quarter, case_type, law

ORDER BY "Case", Stage, Year, Quarter, case_type, law;
"""
pydb.create_temp_table(create_averages_24a_table,'averages_24a')

In [ ]:
create_averages_24b_table =f"""
SELECT 
    CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END AS "Case",
    Stage,
    CAST(NULL AS INT) AS Year,
    CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR)) AS Quarter,
    'All' AS case_type,
    'All' AS law,
    count(*) as count
    
FROM fcsq.divorce_fct_abs

GROUP BY CASE WHEN new_case_type IN ('Divorce', 'Civil Partnership') THEN 'Divorce' ELSE new_case_type END,
         Stage,
         CONCAT(CAST(Year AS VARCHAR), ' Q', CAST(Quarter AS VARCHAR));
"""
pydb.create_temp_table(create_averages_24b_table,'averages_24b')

In [ ]:
create_averages_24_table =f"""
SELECT
    b.*,
    a.mean_weeks,
    a.median_weeks
    
FROM __temp__.averages_24b AS b
LEFT JOIN __temp__.averages_24a AS a
 ON a."Case" = b."Case" AND
    a.Stage = b.Stage AND
    a.quarter = b.quarter AND
    a.case_type = b.case_type AND
    a.law=b.law;
"""
pydb.create_temp_table(create_averages_24_table,'averages_24')

In [ ]:
test = pydb.read_sql_query("SELECT * from __temp__.averages_24")
test

In [ ]:
#pydb.delete_database_and_data("__temp__")

In [ ]:
drop_divorce_timeliness_all = "DROP TABLE IF EXISTS fcsq.divorce_timeliness_all"
pydb.start_query_execution_and_wait(drop_divorce_timeliness_all)
bucket.objects.filter(Prefix="fcsq_processing/Divorce/divorce_timeliness_all").delete();

In [ ]:
#Creating timeliness table combining all the average tables together 

create_divorce_timeliness_all_table =f"""
CREATE TABLE IF NOT EXISTS fcsq.divorce_timeliness_all
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Divorce/divorce_timeliness_all') AS

SELECT * FROM __temp__.averages_1
UNION ALL
SELECT * FROM __temp__.averages_2
UNION ALL
SELECT * FROM __temp__.averages_3
UNION ALL
SELECT * FROM __temp__.averages_4
UNION ALL
SELECT * FROM __temp__.averages_5
UNION ALL
SELECT * FROM __temp__.averages_6
UNION ALL
SELECT * FROM __temp__.averages_7
UNION ALL
SELECT * FROM __temp__.averages_8
UNION ALL
SELECT * FROM __temp__.averages_9
UNION ALL
SELECT * FROM __temp__.averages_10
UNION ALL
SELECT * FROM __temp__.averages_11
UNION ALL
SELECT * FROM __temp__.averages_12
UNION ALL
SELECT * FROM __temp__.averages_13
UNION ALL
SELECT * FROM __temp__.averages_14
UNION ALL
SELECT * FROM __temp__.averages_15
UNION ALL
SELECT * FROM __temp__.averages_16
UNION ALL
SELECT * FROM __temp__.averages_17
UNION ALL
SELECT * FROM __temp__.averages_18
UNION ALL
SELECT * FROM __temp__.averages_19
UNION ALL
SELECT * FROM __temp__.averages_20
UNION ALL
SELECT * FROM __temp__.averages_21
UNION ALL
SELECT * FROM __temp__.averages_22
UNION ALL
SELECT * FROM __temp__.averages_23
UNION ALL
SELECT * FROM __temp__.averages_24
;
"""
pydb.start_query_execution_and_wait(create_divorce_timeliness_all_table)

In [ ]:
test = pydb.read_sql_query("SELECT * from fcsq.divorce_timeliness_all LIMIT 10")
test

In [ ]:
#pydb.delete_table_and_data(database="__temp__", table="divorce_timeliness_all")

In [ ]:
drop_divorce_fcsq_t12 = "DROP TABLE IF EXISTS fcsq.divorce_fcsq_t12"
pydb.start_query_execution_and_wait(drop_divorce_fcsq_t12)
bucket.objects.filter(Prefix="fcsq_processing/Divorce/divorce_fcsq_t12").delete();

In [ ]:
create_divorce_fcsq_t12_table =f"""
CREATE TABLE IF NOT EXISTS fcsq.divorce_fcsq_t12
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Divorce/divorce_fcsq_t12') AS

SELECT "Case",
        Stage,
        Year,
        Quarter,
        case_type,
        Law,
        Count,
        CASE WHEN "Case" in ('Nullity of Marriage', 'Judicial Separation') THEN NULL 
             ELSE mean_weeks
        END AS mean_weeks,
        CASE WHEN "Case" in ('Nullity of Marriage', 'Judicial Separation') THEN NULL 
             ELSE median_weeks
        END AS median_weeks
 
FROM  fcsq.divorce_timeliness_all

WHERE YEAR > 2002
OR CAST(SUBSTR(Quarter,1,4) AS INT) > 2002;
"""
pydb.start_query_execution_and_wait(create_divorce_fcsq_t12_table)

In [ ]:
test = pydb.read_sql_query("SELECT * from fcsq.divorce_fcsq_t12 LIMIT 10")
test

In [ ]:
df = pydb.read_sql_query("select * from fcsq.divorce_fcsq_t12;")
df.to_csv(path_or_buf = 's3://alpha-family-data/fcsq_processing/Divorce/sdp_process/divorce_fcsq_t12.csv',index=False)

In [ ]:
drop_divorce_fcsq_digt = "DROP TABLE IF EXISTS fcsq.divorce_fcsq_digt"
pydb.start_query_execution_and_wait(drop_divorce_fcsq_digt)
bucket.objects.filter(Prefix="fcsq_processing/Divorce/divorce_fcsq_digt").delete();

In [ ]:
create_divorce_fcsq_digt_table =f"""
CREATE TABLE IF NOT EXISTS fcsq.divorce_fcsq_digt
WITH (format = 'PARQUET', external_location = 's3://alpha-family-data/fcsq_processing/Divorce/divorce_fcsq_digt') AS
SELECT  Stage, 
        Year, 
        Quarter, 
        Case_Type, 
        Law, Count, 
        Mean_Weeks, 
        Median_Weeks
        
FROM fcsq.divorce_fcsq_t12

WHERE "Case" = 'Divorce';
"""
pydb.start_query_execution_and_wait(create_divorce_fcsq_digt_table)

In [ ]:
test = pydb.read_sql_query("SELECT * from fcsq.divorce_fcsq_digt LIMIT 10")
test

In [ ]:
df = pydb.read_sql_query("select * from fcsq.divorce_fcsq_digt;")
df.to_csv(path_or_buf = 's3://alpha-family-data/fcsq_processing/Divorce/sdp_process/divorce_fcsq_digt.csv',index=False)